---
import AuthorCard from "@components/AuthorCard.astro";
import Layout from "../layouts/AboutLayout.astro";
import Socials from "@components/Socials.astro";
---

<Layout title="Ryan Machado">
  <AuthorCard />
  <Socials />
  <div>
    <h2>About Me</h2>
    <p>
      <em>not sure bro...</em>
    </p>
  </div>
</Layout>
