---
import AuthorCard from "@components/AuthorCard.astro";
import Layout from "../layouts/AboutLayout.astro";
import Socials from "@components/Socials.astro";
---

<Layout title="Ryan Machado">
  <AuthorCard />
  <Socials />
  <div>
    <h2>About Me</h2>
    <p>
      As a Full Stack Developer, I've successfully developed and maintained web
      applications for over 5 years. I'm passionate about
    </p>
  </div>
</Layout>
