---

---

<div class="flex items-center justify-between">
  <div class="flex-1 space-y-1.5">
    <h1 class="text-2xl font-bold">Ryan Machado</h1><p
      class="text-muted-foreground max-w-md text-pretty font-mono text-sm"
    >
      FullStack Developer with expertise in TypeScript, Node.js, React & Vue and
      focus on building reliable and scalable applications.
    </p><p
      class="text-muted-foreground max-w-md items-center text-pretty font-mono text-xs"
    >
      <a
        class="inline-flex gap-x-1.5 align-baseline leading-none hover:underline"
        href="https://www.google.com/maps/place/Ourinhos"
        target="_blank"
      >
        Ourinhos, SP, Brazil
      </a>
    </p><div
      class="text-muted-foreground hidden flex-col gap-x-1 font-mono text-sm print:flex"
    >
      <a href="mailto:bartosz.jarocki@hey.com"
        ><span class="underline">bartosz.jarocki@hey.com</span></a
      ><a href="tel:+48530213401"><span class="underline">+48530213401</span></a
      >
    </div>
  </div>
  <span class="relative flex size-32 shrink-0 overflow-hidden rounded-xl">
    <img
      class="aspect-square h-full w-full scale-110 object-cover"
      alt="Ryan Machado"
      src="https://avatars.githubusercontent.com/u/37024302?v=4"
    />
  </span>
</div>
