
.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.article {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

@media (max-width: 768px) {
    .row {
        flex-wrap: wrap;
    }
}
