@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);



:root {
  --background-color: #201f1e;
  --font-color: #efefef;
  --invert-font-color: #ffffff;
  --primary-color: #12c258;
  --primary-dark-color: #126836;
  --secondary-color: #1db954;
  --error-color: #ff0000;
  --code-bg-color: #1f1f1f;
  --font-stack: "Fira Code VF", monospace;
}

mark {
  background-color: var(--primary-dark-color);
  color: var(--invert-font-color);
}

.image-grid {
  display: grid;
  grid-template-rows: auto;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(var(--page-width) / 12), 1fr)
  );

  grid-auto-rows: 1fr;
  grid-auto-flow: dense;

}

@media only screen and (max-width: 600px) {
  .image-grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.clickable {
  cursor: pointer;
}

code {
  background-color: var(--code-bg-color);
  color: var(--font-color);
  font-family: var(--font-stack);
  font-size: 0.9em;
  padding: 0.2em 0.4em;
  overflow-y: hidden; /* Hide vertical scrollbar */
  border-radius: 0.2em;
}

pre code {
  overflow-x: hidden;
}
